
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.active{
    text-decoration: none;
    color: green;
}
.error{
    color: red;
    font-size: 12px;
}